<div class="barrier" data-trackable="barrier">
	<h2>{{title}}</h2>
	<p class="barrier-subtitle">{{subtitle}}</p>
    {{#if extraInfo}}
        <p class="extra-info">{{extraInfo}}</p>
    {{/if}}
    {{#if register}}
        <a class="o-buttons o-buttons--big o-buttons--primary" role="button" href="{{register}}" data-trackable="register">Register</a>
    {{/if}}
	<a class="o-buttons o-buttons--secondary o-buttons--big" role="button" href="{{loginUrl}}" data-trackable="sign-in">{{loginText}}</a>
	<p>
        {{#if subscriptions}}
            Ready to subscribe, <a class="barrier-link" href="{{subscriptions}}" data-trackable="subscription">View our subscription options</a>
        {{/if}}
	</p>
	<div class="barrier-img">
		<img src="{{@root/assetsBowerBasePath}}/alphaville-ui/barrier/img/alphaville-barrier.jpg" />
	</div>
</div>
