<div id="o-permutive"
	data-o-component="o-permutive"
	data-o-permutive-projectId="e1c3fd73-dd41-4abd-b80b-4278d52bf7aa"
	data-o-permutive-publicApiKey="b2b3b748-e1f6-4bd5-b2f2-26debc8075a3"
	data-o-permutive-consent="true"
	data-o-permutive-consentFtCookie="true"
></div>

<script data-o-ads-config="" type="application/json">
	{
		"gpt": {
				"network": 5887,
				"site": "ft.com",
				"zone": "alphaville/{{#if adZone}}{{adZone}}{{else}}unclassified{{/if}}"
		},
		"targetingApi": {
			"user": "https://ads-api.ft.com/v1/user",
			{{#articleId}}"page": "https://ads-api.ft.com/v1/content/{{.}}",{{/articleId}}
			{{^articleId}}"page": null,{{/articleId}}
			"usePageZone": false
		},
		"krux": {
			"limit": 50,
			{{#if adsTitle}}
				"attributes": {
					"page": {
						"sections": ["{{adsTitle}}"]
					}
				},
			{{else}}
				{{#unless article}}
					"attributes": {
						"page": {
							"sections": ["{{title}}"]
						}
					},
				{{/unless}}
			{{/if}}
			"id": "KHUSeE3x"
		},
		"collapseEmpty": "before",
		"responsive": {
			"extra": [1220, 0],
			"extrascroll": [1203, 0],
			"large": [980, 0],
			"largescroll": [963, 0],
			"medium": [740, 0],
			"mediumscroll": [723, 0],
			"small": [490, 0],
			"smallscroll": [473, 0],
			"default": [0, 0]
		}
	}
</script>
