<div>
	<div class="article__share article__share--{{position}} clearfix" data-trackable="share-{{position}}">
		<div data-o-component="o-share" class="o-share clearfix" data-o-share--js="">
			<ul>
				<li class="o-share__action">
					<a target="_blank" class="o-share__icon o-share__icon--twitter" href="https://twitter.com/intent/tweet?url={{article.webUrl}}&amp;text={{article.title}}&amp;via=FinancialTimes" data-trackable="twitter"><span class="o-share__text">Twitter</span></a>
				</li>
				<li class="o-share__action">
					<a target="_blank" class="o-share__icon o-share__icon--facebook" href="http://www.facebook.com/sharer.php?u={{article.webUrl}}&amp;t={{article.title}}" data-trackable="facebook"><span class="o-share__text">Facebook</span></a>
				</li>
				<li class="o-share__action">
					<a target="_blank" class="o-share__icon o-share__icon--linkedin" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{article.webUrl}}&amp;title={{article.title}}&amp;source=Financial+Times" data-trackable="linkedin"><span class="o-share__text">LinkedIn</span></a>
				</li>
			</ul>
		</div>

		<a class="article__share__print article__share-item" href="javascript:window.print()" data-trackable="print">
			<span class="alphaville-visually-hidden">Print this page</span>
		</a>

		{{#article.comments.enabled}}
			{{^hideCommentCount}}
				{{#if useCoralTalk}}
					<a href="#comments"
						class="o-comments article__share__comments article__share-item"
						data-o-component="o-comments"
						data-o-comments-article-id="{{article.id}}"
						data-o-comments-count="true"
						data-trackable="comment-count">
					</a>
				{{else}}
					<a href="#comments"
						class="article__share__comments article__share-item"
						data-o-component="o-comments"
						data-o-comments-count
						data-o-comments-config-article-id="{{article.id}}"
						data-o-comments-config-template="{count}"
						data-trackable="comment-count">
					</a>
				{{/if}}
			{{/hideCommentCount}}
		{{/article.comments.enabled}}
	</div>
	<div data-n-article-email-{{position}}-container=""></div>
	<div class="article__share-bottom-gutter--{{position}}"></div>
</div>
